#text_input{
    margin-top:8%;
    width: 90%;
    height: 50%;
}

#picture_input, #record_input{
    margin-top: 15px;
    margin-bottom: 20px;
}

#validate{
    display:block;
    margin:auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}