#text_input{
    display: block;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50%;
}

.button {
    margin-top: 12px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

#picture_input, #record_input, #use_coord{
    background-color: #0f8aee;
}

#validate{
    background-color: #4CAF50;
}